.imgContainer {
  position: relative;
}
.icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  fill: transparent;
  stroke: var(--main-color-badges);
}
.active {
  fill: var(--main-color-button);
  stroke: none;
}
.photo {
  width: 276px;
  height: 268px;
  border-radius: 14px;
}
.info {
  margin-top: 16px;
  margin-bottom: 28px;
}
.title {
  display: flex;
  justify-content: space-between;
}
.brand {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main-color-black);
}
.model {
  color: var(--main-color-button);
}

.location {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--main-color-gray);
  margin-top: 8px;
}
.type {
  margin-top: 4px;
}
.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: white;
  padding: 12px 97px;
  border-radius: 12px;
  border: none;
  background-color: var(--main-color-button);
}
