.header {
  background-color: var(--main-color-badges);
}
.innerContainer {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.logo {
  font-weight: 900;
  font-size: 20px;
}
.logo span {
  color: var(--main-color-button);
}
.nav {
  display: flex;
  gap: 32px;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main-color-button-black);
}
.active {
  color: var(--main-color-button-hover);
}
