:root {
  --main-color-black: #101828;
  --main-color-gray: #8e929a;
  --main-color-button: #3470ff;
  --main-color-button-hover: #0b44cd;
  --main-color-gray-light: #dadde1;
  --main-color-badges: #f2f4f7;
  --main-color-inputs: #f7f7f7;

  --font-family-manrope: "Manrope", sans-serif;
  --font-family-inter: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-family-manrope);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, textarea {
  outline: none;
}

.container {
  padding: 0 120px;
}
